<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play4Us</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="/logo/logoPlay4Us.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <h1>Play4Us</h1>
            <div class="menu">
                <a href="#Accueil">Accueil</a>
                <a href="#Apropos">À propos</a>
                <a href="#Materiels">Materiels</a>
                <a href="#Coaching">Coaching</a>
                <a href="#Jeux">Jeux</a>
                <a href="#Benevolat">Benevolat</a>
                <a href="#Forum">Forum</a>
                <a href="#Contact">Contact</a>

                <input type="submit" value="Se déconnecter">
            </div>
        </nav>
    </header>
    <main>
        <div class="content">
            <div class="listes">
                <h2>Membres</h2>
                <!-- <a href="Liste"></a> -->
            </div>
            <div class="admin">
                <h3>Admin</h3>
                <!-- <a href="Profil"></a> -->
                <!-- <a href="Messagerie"></a> -->
            </div>
            <div class="gestion center">
                <div class="icon center">
                    <!-- <a href="https://fontawesome.com/icons/hand-holding-dollar?s=solid&f=classic">-->
                    <i class="fas fa-gamepad fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-user fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-calendar-week fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-desktop fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-money-bill fa-lg"></i>
                </div>
            </div>
        </div>



        </div>
    </main>




</body>
