

@{
    Layout = "_LayoutGeneral";
}

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Play4Us</title>
    <link rel="stylesheet" href="~/css/DashboardAdmin.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="content">
            <div class="listes">
                <h2>Membres</h2>
                <!-- <a href="Liste"></a> -->
            </div>
            <div class="admin">
                <h3>Admin</h3>
                <!-- <a href="Profil"></a> -->
                <!-- <a href="Messagerie"></a> -->
            </div>
            <div class="gestion center">
                <div class="icon center">
                    <!-- <a href="https://fontawesome.com/icons/hand-holding-dollar?s=solid&f=classic">-->
                    <i class="fas fa-gamepad fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-user fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-calendar-week fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-desktop fa-lg"></i>
                </div>
                <div class="icon center">
                    <i class="fas fa-money-bill fa-lg"></i>
                </div>
            </div>
        </div>



        </div>
    </main>




</body>
