@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --violet: #d33bfd;
}

body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(to bottom left,#1D083B, #531760) no-repeat;
    min-height: 100vh;
}

.header-grid {
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.137);
    padding: 2% 0 2% 8%;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "gif h1 menu";
}

.header-gif {
    grid-area: gif;
    max-width: 100px;
    margin-right: 0px;
    height: auto;
    justify-self: center;
}

.header-grid h1 {
    text-transform: uppercase;
    color: #fafafa;
    text-shadow: 3px 3px 12px #ffffff38;
    justify-self: center;
    grid-area: h1;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;

}

.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    grid-area: menu;
    justify-self: center;
}

    .menu a {
        margin-right: 15px;
        color: #ccc;
        text-decoration: none;
    }

        .menu a:hover {
            color: white;
            cursor: pointer;
        }

    .menu input {
        padding: 5px 15px;
        font-size: 16px;
        background-color: inherit;
        border: 1px solid #d33bfd;
        border-radius: 5px;
        color: #d33bfd;
        cursor: pointer;
        transition: color 0.2s, background-color 0.3s;
    }

        .menu input:hover {
            color: inherit;
            background-color: #d33bfd;
        }

.navbar {
    content-visibility: hidden;
    background: none;
    position: relative;
    padding-bottom: 20px;
    padding: 30px 5% 30px 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    grid-template-areas:
        "menu-burger h1 gif";
}

    .navbar h1 {
        display: none;
        grid-area: h1;
        justify-self: center;
    }

    .navbar .header-gif {
        display: none;
        grid-area: gif;
        justify-self: center;
    }

    .navbar a {
        color: rgb(255, 255, 255);
        font-size: large;
        font-weight: bold;
        text-decoration: none;
    }

.nav-links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(2, 2, 2, 0.603);
    backdrop-filter: blur(8px);
}

.navbar .menu-hamburger {
    display: none;
    grid-area: menu-burger;
    justify-self: center;
    position: absolute;
    width: 40px;
    color: white;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
}

    .nav-links ul li {
        color: rgb(255, 255, 255);
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 20px;
    }


footer {
    border-top: 3px solid rgba(117, 117, 117, 0.384);
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 20px;
    text-align: center;
}


@media screen and (max-width: 1192px) {

    .header-grid {
        transition: all 90ms ease-in-out;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, 0.137);
        padding: 30px 5% 30px 5%;
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "gif h1"
            "menu menu";
    }

        .header-grid h1 {
            text-transform: uppercase;
            color: #fafafa;
            text-shadow: 3px 3px 12px #ffffff38;
            justify-self: start;
            grid-area: h1;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .header-gif {
        grid-area: gif;
        width: 100%;
        max-width: 100px;
        height: auto;
        justify-self: end;
        margin-right: 20px;
    }

    .menu {
        justify-self: center;
    }
}

@media screen and (max-width: 1137px) {

    .header-grid {
        transition: all 90ms ease-in-out;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, 0.137);
        padding: 30px 5% 30px 5%;
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "gif h1"
            "menu menu";
    }

        .header-grid h1 {
            text-transform: uppercase;
            color: #fafafa;
            text-shadow: 3px 3px 12px #ffffff38;
            justify-self: start;
            grid-area: h1;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
}

@media screen and (max-width: 1137px) {

    .header-grid {
        transition: all 90ms ease-in-out;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, 0.137);
        padding: 30px 5% 30px 5%;
        align-items: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "gif h1"
            "menu menu"
            "deco deco";
    }
}

@media screen and (max-width: 922px) {

    body {
        margin: 0;
    }

    .header-grid, .menu {
        display: none;
    }

    .navbar h1 {
        display: flex;
        text-transform: uppercase;
        color: #fafafa;
        text-shadow: 3px 3px 12px #ffffff38;
        justify-self: center;
        grid-area: h1;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navbar .header-gif {
        display: block;
    }

    .navbar {
        content-visibility: visible;
        background: rgba(0, 0, 0, 0.137);
    }

        .navbar .menu-hamburger {
            display: block;
        }

    .nav-links.mobile-menu {
        display: flex;
        transition: all 0.5s ease;
    }

    .nav-links {
        margin-left: -100%;
    }
}
