@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --violet: #d33bfd;
}

.slider {
    height: 80vh;
    position: relative;
}


    .slider img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .5s;
    }

        .slider img.active {
            opacity: 1;
        }

.suivant, .precedent {
    color: #fff;
    opacity: 0.4;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

.bienvenue {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: 80%;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 40px;
}

.apropos {
    padding-top: 0px;
    margin: auto;
    display: flex;
    text-align: center;
    background-color: black;
    opacity: 80%;
}


.p1 {
    font-size: 0.95rem;
    text-align: justify;
    word-spacing: 1.5mm;
    margin-left: 1rem;
    margin-right: 1rem;
}

.button {
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: thin;
    color: white;
    padding: 10px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
}

.equipe {
    margin-bottom: 0px;
}

.team h1 {
    font-size: O.2em;
}

.bloc h1 {
    text-align: center;
    background-color: black;
    padding-top: 50px;
}

.img2 {
    width: 400px;
    margin: 0;
}

.img3 {
    width: 400px;
}

.img4 {
    width: 400px;
}

.img5 {
    width: 400px;
}

.jeux {
    margin: auto;
    margin-top: 10px;
    display: flex;
    text-align: center;
    background-color: black;
    opacity: 80%;
}

.img6 {
    width: 50%;
    height: 50%;
    border: 5px solid black
}

.p4 {
    font-size: medium;
}

.p5 {
    font-size: medium;
}

.p6 {
    font-size: medium;
}

h2 {
    text-align: center;
    margin: 50px auto 120px;
    color: #fff;
    font-size: 1em;
}

.services {
    padding: 10px 0;
    background-color: black;
    opacity: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.514);
}

.max-width {
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}

    .max-width h2 {
        text-align: center;
        position: relative;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
    }

.content {
    display: flex;
    justify-content: space-between;
}

.content a {
    text-decoration: none;
}
.card {
    padding: 50px 25px;
    margin: 20px;
    width: calc(26% -20%);
    border-radius: 6px;
    background: #222;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-height: 260px;
}

    .card:hover {
        background-color: #83377d;
    }

.box {
    transition: all 0.3s ease;
    text-decoration: none;
}

.card:hover.box {
    transform: scale(1.05);
}

p {
    font-size: 0.9em;
}

.box i {
    font-size: 50px;
    color: #83377d;
    transition: color 0.3s ease;
}

.card:hover i {
    color: #fff;
}

.box h3 {
    font-size: 25px;
    padding: 10px 0 7px;
}
