.content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
    padding: 30px;
    border: 1px solid #0000001e;
    background: #0000001e;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 40px;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas:
        "h1 h1"
        "attributs description"
        "button button";
}


    form h1 {
        grid-area: h1;
        width: 100%;
        margin-top: 0;
        margin-bottom: 30px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        border-bottom: 2px solid #ffffff;
    }



.attributs {
    grid-area: attributs;
    margin-bottom: 30px;
    padding: 2%;
    margin-right: 20px;
    border: 2px solid #ffffff;
    border-radius: 20px 30px 30px 20px;
    border-right: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    align-self: end;
}


.type, .date, .name {
    color: white;
    margin-top: 0.5rem;
    justify-self: start;
}

#Publication_PublicationType, #Publication_Date, #Publication_PubliImage {
    width: 16rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 15px;
    text-align:center;

}



.description {
    grid-area: description;
    justify-self: center;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 30px;
    padding: 2%;
    width: 54rem;
    justify-content: center;
    align-items: center;
}

form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
}

form textarea {
    grid-area: description;
    height: 17rem;
    width: 54rem;
    resize: none;
    margin-top: 0.5rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    padding-left: 5px
}

textarea::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}



form textarea:hover {
    border: 2px solid #7e259e;
}


form input[type=submit] {
    grid-area: button;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 0;
    justify-self: center;
}

    form input[type=submit]:hover {
        color: white;
        background-color: #02f50ea8;
        transition: 0.2s;
    }

form #PublicationImage {
    height: 30px;
    align-self: start;
    margin-bottom: 10px;
    text-align: start;
}

input::file-selector-button {
    height: 30px;
    border: none;
    border-radius: 10px;
}

#delete {
    color: black;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    justify-self: end;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 3rem;
    width: 15rem;
}

    #delete:hover {
        color: white;
        background-color: #C21111;
        transition: 0.2s;
    }
