@{
    Layout = "_LayoutGeneral";
}

<p> Bienvenue sur votre profil </p>
<div class="container-fluid">
    <div class="row">
        <div class="column1">
            <section class="SectionDescription">
                <div class="Text">
                    <h1>Profil</h1>

                    <h2>Details personnnels</h2>
                    <h3>Nom: </h3> <h3 class="spec"> </h3>
                    <h3> Prenom: </h3> <h3 class="spec"> </h3>
                    <h3>AKA:   </h3><h3 class="spec"> </h3>
                    <h3>Date de naissance: </h3><h3 class="spec">28 février 1986</h3>
                    <h3>Alcolyte: Ryuuk</h3>
                </div>
            </section>
        </div>
        <div class="column2">
            <section class="SectionContenu">
                <fieldset id="FS1">
                    <legend class="leg"> Formation</legend>
                    <p> lycéen dxamen d'entrée à l'université)</p>
                </fieldset>
                <fieldset id="FS2">
                    <legend class="leg"> Expérience</legend>
                    <p>Il devien criminels, pour enfin devenir le « Dieu » de son monde parfait. </p>
                </fieldset>
                <fieldset id="FS3">
                    <legend class="leg"> Compétences techniques</legend>
                    <p>
                        Light
                        Grâce au Death Note, il est capable de tuer n'importe qui (excepté les shinigami), pour peu qu'il connaisse le nom et le visage de sa victime.
                    </p>
                </fieldset>
                <fieldset id="FS4">
                    <legend class="leg"> Autres compétences </legend>
                    <p>Light parvient àler Rem, le Shinigami lié au Death Note de Misa. Il atteindra'elle écrive le nom de L dans son carnet.</p>
                </fieldset>

            </section>
        </div>
    </div>
</div>