@{
    Layout = "_LayoutGeneral";
}



<div class="about-section">
    <div class="inner-container">
        <h1>A propos de nous</h1>
        <p class="text">
            Notre association a été créée dans le but de promouvoir et de développer le monde des sports électroniques.<br /> Nous croyons en la capacité du e-sport à rassembler des joueurs de tous horizons et à les faire concourir dans un environnement amical et compétitif.<br />
            Notre objectif principal est de fournir une plateforme pour les joueurs de tous niveaux, où ils peuvent s'amuser, s'entraîner et développer leurs compétences. Nous organisons régulièrement des tournois en ligne et hors ligne, ainsi que des événements communautaires pour renforcer les liens entre les joueurs.<br />
            Rejoignez-nous dans notre mission pour faire du e-sport un mouvement mondial ! <br />Inscrivez-vous à notre plateforme en ligne pour commencer à jouer et à faire partie de notre communauté passionnante.
        </p>


        <div class="inscription">

            <a href="#Connexion">Nous rejoindre ! </a>

        </div>
    </div>
</div>


@section ExtraCss {
    <link rel="stylesheet" href="~/css/About.css" />
}