@{
    Layout = "_LayoutGeneral";
}


<section class="coach">
    <div class="main">
        <img src="~/Assets/Images/coaching-jeux.jpeg" alt="Gamer" />
        <div class="coach-text">
            <h5>Coachings <span> & Entraînements </span></h5>
            <p>
                Bienvenue sur notre page dédiée au coaching en ligne pour les
                joueurs d'e-sport ! <br />
                Nous sommes une équipe de professionnels passionnés par les jeux
                vidéo et déterminés à aider les joueurs à atteindre leur plein
                potentiel.

                <br />Nous comprenons que la performance dans les jeux vidéo
                nécessite des compétences techniques, stratégiques et mentales.
                <br />C'est pourquoi nous avons développé une offre de coaching en
                ligne pour les joueurs d'e-sport.br/> Notre objectif est d'aider les
                joueurs à améliorer leurs compétences, à optimiser leur jeu et à
                atteindre leurs objectifs de performance.
            </p>
        </div>
    </div>
</section>

<section class="presentation second">
    <div class="product-presentation">
        <h1>
            Nous sommes là pour vous aider à atteindre vos objectifs de
            performance
        </h1>

        <button><a href="#Connexion">Rejoignez nous ! </a></button>
    </div>
    <div class="image-presentation">
        <img src="~/Assets/Images/trophy.png" />
    </div>
</section>


@section ExtraCss {
    <link rel="stylesheet" href="~/css/Coaching.css" />
}