@{
    Layout = "_LayoutGeneral";
}



<section class="home">
    <div class="left">
        <h1>Equipez-vous pour la  <span>Victoire</span> avec nos prêts de matériel e-sport.</h1>
        <p> Chez nous, nous comprenons l'importance d'avoir les bons outils pour performer dans les jeux vidéo. C'est pourquoi nous avons créé un service de prêt de matériels e-sport pour aider les joueurs à atteindre leur plein potentiel.</p>
        <a href="#">S'inscrire</a>
    </div>
    <div class="right">
        <img src="~/Assets/Images/casque.png">
    </div>
</section>


<!-- section materiel -->

<section class="materiel">
    <h1 class="section_title">Nos matériels</h1>
    <div class="images">
        <ul>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/imgpc1.png" alt="">
                </div>
                <span>PC Gamer</span>
                <span class="note">★★★★</span>

            </li>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/imgpc2.png" alt="">
                </div>
                <span>PC Gamer</span>
                <span class="note">★★★★</span>

            </li>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/imgpc3.png" alt="">
                </div>
                <span>PC Gamer</span>
                <span class="note">★★★★</span>

            </li>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/img-ecran1.png" alt="">
                </div>
                <span>Ecran Gamer</span>
                <span class="note">★★★★</span>

            </li>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/img-ecran2.png" alt="">
                </div>
                <span>Ecran Gamer</span>
                <span class="note">★★★★</span>

            </li>
            <li class="materiel">
                <div>
                    <img src="~/Assets/Images/img-ecran3.png" alt="">
                </div>
                <span>Ecran Gamer</span>
                <span class="note">★★★★</span>

            </li>
        </ul>
    </div>
</section>


@section ExtraCss {
    <link rel="stylesheet" href="~/css/Materiel.css" />
}