@model Projet2.ViewModels.ActivitiesViewModel
@{
    Layout = "_LayoutGeneral";
}
<h2>Catalogue d'activités</h2>

<table >
        <tr>
            <th><h2>Title</h2></th>
            <th><h2>Description</h2></th>
            <th><h2>Place</h2></th>
            <th><h2>Organizer</h2></th>
        <th><h2>Debut</h2></th>
        <th><h2>Fin</h2></th>
        </tr>

@*@foreach (var Activity in Model)
{
    <tr>


    </tr>


}*@

</table>
